/* .homeBreak {
    width: 100%;
    height: 100px;
    border: solid 5px #000;
    border-color: transparent transparent #000 transparent;
    border-radius: 0 10 240px 10%/100px;
  } */
  .head{
    color: white;
    font-size: 100px;
    text-align: center;
    background-color: black;
    text-decoration: underline;
    text-underline-offset: 20px;
    text-decoration-color: #FF5B00;
    /* padding-bottom: 15px;
    border-bottom-style: solid;
    border-bottom-width: 3.1px;
    width: fit-content; */
    /* height: 6%; */
    /* padding :6%; */
    font-family: 'Roboto', sans-serif;
    /* margin-top: 2%; */
    /* margin-left: 2%; */
    /* margin-right: 2%; */
    padding-bottom: 2%;
  }
  .btons{
    padding: auto;
    margin: auto;
  }
  .history{
    margin-left: 10%;
    margin-bottom: 200px;
  }
.footer{
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: black;
  color: #FF5B00;
  text-align:center;
}
.forms{
  color: #FF5B00;
  font-size: larger;
}
.button {
  background-color: black;
  border: 3px;
  border-color: white;
  border-radius: 10px;
  color: #FF5B00;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}
.button:hover {
  background-color: #FF5B00; /* Green */
  color: black;
}

.btton {
  background-color: #ff5b00;
  border: none;
  color: black;
  padding: 15px 5px;
  /* text-align: center; */
  text-decoration: none;
  /* display: inline-block; */
  font-size: 20px;
  float: center;
  margin-left: 45%;
  margin-top: 1%;
}
.btton:hover{
  background-color: black;
  color: #ff5b00;
}
.link {
  text-decoration: none;
  color: black;
}
.link:hover{
  color: #FF5B00;
}
