*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    

} 
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
.Menu{
    width: 100%;
    height: 100%;
    /* display: block; */
    font-family: 'Roboto', sans-serif;
    background-color: black;
    /* border-bottom: 2px solid grey; */
}
li{
    float: right;
    background-color: black;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
  }
  li a:hover {
    background-color:#FF5B00 ;
    /* overflow: visible; */
   
  }
.img{
    padding: 10 px;
    width: 350px;
    height: 65px;
    padding-left: 100px;
    /* float:left; */
}
/* .li{
    display: block;
    color: white;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;

} */